.company__section-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.company__section-block-content__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.company__section-block-content {
    text-align: justify;
}