.community-section {
    position: relative;
    width: 100%;
    max-width: 100vw;
  }
  .community-section .community-title {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: black;
  }
  
  .community-section .community-title .community-title__text {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    cursor: default;
  }
  
  .community-section .community-title .community-title__svg {
    transform: scale(0.6);
    /* set the transform origin to left */
    transform-origin: 0% 50%;
  }
  
  .community-section .community-title .community-title__svg.right {
    /* set the transform origin to right */
    transform-origin: 100% 50%;
  }
  
  .community-section .community-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }
  
  .community-cta__container {
    position: absolute;
    bottom: 12.5%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }