/* HOME */
.home-page {
    display: flex;
    flex-flow: column;
    gap: 0;
    position: relative;
    background-color: var(--background-color);
    min-height: 100vh;
    height: auto;
    align-items: center;
}

.home-page .title-section {
    margin-top: var(--nav-height);
}

.home-page .title-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
    padding: var(--page-padding);
    min-height: 100vh;
    max-width: 900px;
}

.home-page .title-section h1 {
    font-size: 2rem;
    font-weight: 700;
    padding: 0 2rem;
    margin-bottom: 2rem;
    cursor: default;
}

.home-page .title-section p {
    font-size: 0.9rem;
    font-weight: 300;
    cursor: default;
}

.home-page .title-section img {
    width: 100%;
    margin-top: 3rem;
}

/* OVERVIEW */
.overview-section {
    display: flex;
    flex-flow: column;
    gap: 5rem;
    margin-top: 3rem;
    align-items: center;
}

/* SERVICES */
.services-section {

}

/* FOOTER */
.footer-section {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: var(--page-padding);
    padding-bottom: 1rem;
    padding-top: calc(var(--nav-height) + 3rem);
    text-align: center;
    gap: 3rem;
}

.footer-section a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0 0.5rem;
}

.footer-section .footer-main {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    gap: 3rem;
}

.footer-section .footer-main__left {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.footer-section .footer-main__left > .text-container {
    max-width: 600px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-section .footer-main__left h2 {

}

.footer-section .footer-main__left p {
    font-size: 0.9rem;
}

.footer-section .footer-main__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.footer-section .footer-socials {
    margin-top: auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}