.home-page__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: black;
  padding: 0.8rem 2.8rem;
  white-space: nowrap;
  text-decoration: none;
  border-radius: var(--border-radius);
  border: 2px solid black;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: var(--off-white);
  width: 12rem;
  outline: none !important;
  user-select: none;
}

.home-page__button:focus,
.home-page__button:active,
.home-page__button:active:focus {
  outline: none !important;
}

.home-page__button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.home-page__button.yellow {
  background-color: var(--secondary-color);
}

.home-page__button.yellow:hover {
  background-color: var(--background-color);
  color: white;
}

.home-page__button.green {
  background-color: var(--primary-color);
}

.home-page__button.green:hover {
  background-color: var(--background-color);
  color: white;
}

@media (hover: none) {
  .home-page__button {
    transition: none;
  }

  .home-page__button:hover {
    background-color: var(--off-white);
    color: black;
    border: 2px solid black;
  }

  .home-page__button.yellow:hover {
    background-color: var(--secondary-color);
    color: black;
  }

  .home-page__button.green:hover {
    background-color: var(--primary-color);
    color: black;
  }

  .home-page__button:active,
  .home-page__button.yellow:active,
  .home-page__button.green:active {
    background-color: black;
    color: white;
    border: 2px solid white;
  }
}
