.home-page .nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  background-color: var(--background-color);
  z-index: 100;
  padding: var(--page-padding);
}

.home-page .nav .nav__list {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.home-page .nav .nav__list .nav__item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page .nav .nav__list .nav__item .nav__link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.8rem;
  white-space: nowrap;
  padding: 4px;
  transition: color 0.3s ease-in-out;
}

.home-page .nav .nav__list .nav__item .nav__link:hover {
  color: var(--secondary-color);
}

.home-page .nav .nav__list .nav__item.logo__container {
  transform: scale(0.56);
  margin-bottom: 3px;
  margin: 0;
  width: 65px;
}

.home-page .nav .nav__list .nav__item .nav__link.contact-us {
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    padding: 8px 16px;
}

.home-page .nav .nav__list .nav__item .nav__link.contact-us:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.home-page .nav .nav__list .nav__item:first-of-type {
    margin-right: auto;
}

.home-page .nav .nav__list .nav__item:last-of-type {
    margin-left: auto;
}

.home-page .nav .nav__list .nav__item.exam-reg {
    position: relative;
    display: flex;
    flex-flow: column;
}
.home-page .nav .nav__list .nav__item.exam-reg::after {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: var(--secondary-color);
    transition: width 0.3s ease-in-out;
}

.home-page .nav .nav__list .nav__item.exam-reg:hover::after {
    width: 0;
}