.home-page .nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  background-color: var(--background-color);
  z-index: 100;
  display: flex;
  flex-flow: column;
  gap: 0;
  max-width: 100vw;
}

.home-page .nav .nav__list {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.home-page .nav .nav__list .nav__item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page .nav .nav__list .nav__item .nav__link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.8rem;
  white-space: nowrap;
  padding: 4px;
  transition: color 0.3s ease-in-out;
}

.home-page .nav .nav__list :is(.nav__item, .nav__link) :is(:hover, :active) {
  color: var(--secondary-color);
}

.home-page .nav .nav__list .nav__item._open :is(:hover, :active) {
  color: var(--red-color);
}

.home-page .nav .nav__list .nav__item.logo__container {
  transform: scale(0.56);
  margin-bottom: 3px;
  margin: 0;
  width: 65px;
}

.home-page .nav .nav__list .nav__item .nav__link.contact-us {
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  padding: 8px 16px;
}

.home-page .nav .nav__list .nav__item .nav__link.contact-us:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.home-page .nav .nav__list .nav__item:first-of-type {
  margin: var(--page-padding);
  margin-right: auto;
}

.home-page .nav .nav__list .nav__item:last-of-type {
  margin-left: auto;
}

.home-page .nav .nav__list .nav__item.nav__contact {
  margin: var(--page-padding);
  margin-left: auto;
} 

.home-page .nav .nav__list .nav__item.nav__menu {
  margin: var(--page-padding);
  margin-left: auto;
  display: none;
  cursor: pointer;
}

.nav__menu__container {
  display: none;
}

.nav__menu__container._open {
  display: block;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.nav__menu__container._open .nav__menu {
  list-style: none;
}

.nav__menu__container._open .nav__menu .nav__menu__item {
  border-bottom: 1px solid var(--text-color);
  cursor: pointer;
}

.nav__menu__container._open .nav__menu .nav__menu__item:is(:hover, :active) {
  background-color: var(--secondary-color);
}

.nav__menu__container._open .nav__menu .nav__menu__item:last-of-type {
  border-bottom: none;
}

.nav__menu__container._open .nav__menu .nav__menu__item .nav__menu__link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
  display: block;
  width: 100%;
  text-align: center;
  transition: color 0.3s ease-in-out;
  padding: 1rem 0;
  margin: 0;
}

.nav__menu__container._open .nav__menu .nav__menu__item:hover .nav__menu__link {
  color: black;
}

@media screen and (max-width: 1199px) {
  .home-page .nav .nav__list .nav__item.nav__products {
    display: none;
  }
  
  .home-page .nav .nav__list .nav__item.nav__support {
    display: none;
  }
}

@media screen and (max-width: 989px) {
  .home-page .nav .nav__list .nav__item.nav__gallery {
    display: none;
  }
  
  .home-page .nav .nav__list .nav__item.nav__blog {
    display: none;
  }
}

@media screen and (max-width: 819px) {
  .home-page .nav .nav__list .nav__item.nav__exam {
    display: none !important;
  }

  .home-page .nav .nav__list .nav__item.nav__community {
    display: none !important;
  }

  .home-page .nav .nav__list .nav__item.nav__services {
    display: none !important;
  }

  .home-page .nav .nav__list .nav__item.nav__company {
    display: none !important;
  }

  .home-page .nav .nav__list .nav__item.nav__events {
    display: none !important;
  }

  .home-page .nav .nav__list .nav__item.nav__contact {
    display: none !important;
  }

  .home-page .nav .nav__list .nav__item.nav__menu {
    display: inline !important;
  }
}

.home-page .nav .nav__list .nav__item.nav__exam {
  position: relative;
  display: flex;
  flex-flow: column;
}
.home-page .nav .nav__list .nav__item.nav__exam::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: var(--secondary-color);
  transition: width 0.3s ease-in-out;
}

.home-page .nav .nav__list .nav__item.nav__exam:hover::after {
  width: 0;
}