* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* COLORS */
  --background-color: #000000;
  --text-color: #ffffff;
  --primary-color: #00ff80;
  --secondary-color: #ffff00;
  --border-color-white: #ffffff;
  --off-white: #fafafa;
  --red-color: #FF4040;

  /* FONTS */
  --font-family: "Inter", sans-serif;

  /* SIZES */
  --page-padding: 0 2rem;
  --nav-height: 64px;
  --border-radius: 8px;

  /* OTHERS */
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  overflow-x: hidden;
}

/* SCROLLBAR */
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45deg,
    var(--secondary-color),
    var(--primary-color)
  );
}

::-webkit-scrollbar-thumb:active {
  background: var(--primary-color);
}

/* Works on Firefox */
html {
  scrollbar-width: auto;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: #000000;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45deg,
    var(--secondary-color),
    var(--primary-color)
  );
}

html::-webkit-scrollbar-thumb:active {
  background: var(--primary-color);
}

@media (pointer:none), (pointer:coarse) {
  html::-webkit-scrollbar {
    width: 0px;
  }
}