* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* COLORS */
  --background-color: #000000;
  --text-color: #ffffff;
  --primary-color: #00FF80;
  --secondary-color: #FFFF00;
  --border-color-white: #ffffff;
  --off-white: #FAFAFA;

  /* FONTS */
  --font-family: 'Inter', sans-serif;

  /* SIZES */
  --page-padding: 0 2rem;
  --nav-height: 64px;
  --border-radius: 8px;

  /* OTHERS */
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
}